<h1>Welcome <%-name%>!</h1>

<hr>

<% if (success_msg != '') { %>
    <div class="alert alert-success" role="alert">
        <%= success_msg %>
    </div>
<% } %>

<a href="/post">Create a post</a>

<!-- Sidebar Widgets Column -->
<div class="col-md-3">

    <!-- Categories Widget -->
    <div class="card my-3">
        <h5 class="card-header">Post Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">All categories</a>
                        </li>
                        <li>
                            <a href="#">Engineering</a>
                        </li>
                        <li>
                            <a href="#">Economics</a>
                        </li>
                        <li>
                            <a href="#">Healthcare</a>
                        </li>
                        <li>
                            <a href="#">Biology</a>
                        </li>
                        <li>
                            <a href="#">Miscelanious</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

